.calculator {
  width: 250px;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  background: #f0f0f0;
}

.display {
  width: 100%;
  height: 40px;
  text-align: right;
  margin-bottom: 20px;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 10px;
}

button {
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  color:#210808;
  border: 1px solid #333;
  background: #fff;
}

button:hover {
  background: #ddd;
}
